<div class="row" style="margin-top: 0px;">
  <aside class="large-4 columns">
  </aside>

  <section class="large-8 columns">
    <img src= "http://picbook.in/wp-content/uploads/2014/07/sunset_sky_by_koko-stock_.jpg" >
  </section>
</div>
