<div class="row" style="margin-top: 0px;">
  <aside class="large-4 columns">
      <h1> List of Users </h1>
      <ol>
        <% @users.each do |user| %>
          <li><img Height="50px" Width="50px" src=<%= user.profile_photo %>><%= link_to user.username, user_path(user) %><br><br></li>
        <% end %>
      </ol>
  </aside>

  <section class="large-8 columns">
    <img src= "http://picbook.in/wp-content/uploads/2014/07/sunset_sky_by_koko-stock_.jpg" >
  </section>
</div>
