  <div class="row">
    <div class="large-5 large-centered columns">
      <%= form_for [@photo.user, @photo] do |f| %>
        <p>
          <%= f.label :profile_photo %> <br>
          <%= f.select :profile_photo, options_for_select(["false", "true"]) %>
        </p>

        <%= f.submit 'Make Profile Picture', class: "button" %>

      <% end %>
    </div>
  </div>
