.user-photos {
  padding-top: 10px;
}

/* .description {
  width:300px;
} */
.photo {
  width: 400px;
  height: 400px;
}

.slide-show {
  height: 200px;
}

.prof-photo {
  padding: 10px;
}

.photo-list {
  list-style: none;
  padding-top: 20px;
  margin-left: 10px;
}

.admin-list {
  list-style: none;
}
