.user-info {
  color: white;
  padding: 30px;
}

.user-info h4 {
  color: white;
}
.screenname {
  color: white;
}
.activity {
  color: black;
  font-size: 15px;
  margin-left: 11%;
}
.photo-link {
  font-size: 25px;
  margin-left: 13%;
}

.info {
  padding-left: 200px;

}

.response {
  margin-left: 50px;
}
.responses {
  margin-bottom: 1cm;
}

.edit-user {
  padding-top: 20px;
}

.upload-preview img {

}

.search-users {
  text-align: center;
}

.search-bar {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.searching {
  padding-top: 100px;
}

.profile-page {
  padding-top: 50px;
}

.nudge-button {
  margin-left: 25%;
}
