.user-info {
  color: white;
  padding: 30px;
}

.user-info h4 {
  color: white;
}
.screenname {
  color: white;
}
.activity {
  color: white;
  font-size: 15px;
}
.photo-link {
  font-size: 25px;
}

.post {
  background-color: white;
  opacity: .6;
}

.response {
  background-color: white;
  margin-left: 50px;
}
.responses {
  margin-bottom: 1cm;
}
